NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=
CALCOM_API_KEY=
CALCOM_CLIENT_ID=
CALCOM_EVENT_TYPE_ID=
CALCOM_EVENT_TYPE_SLUG=
CALCOM_USERNAME=
CALCOM_TEAM_SLUG=
CALCOM_ORGANIZATION_SLUG=
CALCOM_TIMEZONE=Asia/Jakarta
CALCOM_TIMEZONE_OFFSET=+07:00
CALCOM_DEFAULT_START_TIME=09:00
CALCOM_LENGTH_MINUTES=30
CALCOM_MEETING_URL=
